* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
  font-size: 15px;
}

body {
  /* height: 100vh; */
  /* overflow: hidden; */
}

#root {
  /* height: 100%; */
}

.offset {
  margin-top: 50px;
  z-index: -1;
}

.section {
  padding: 1rem;
}

.card-cont {
  /* height: calc(100vh); */
  overflow: scroll;
  display: flex;
  flex-direction: row;
  /* font-size: 1rem; */
  flex-wrap: wrap;
  margin-top: 5rem; 
  margin-bottom: 5rem;
  /* padding: 2rem; */
}

.file-display {

}

.main-nav {
  background-color: #ff864f;
  /* padding-left: 1rem;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 100 !important; */
}

.file-display {
  margin: 1rem;
}
.file-display .card {
  max-width: 175px;
}
.file-display .card .card-image .image img {
  /* width: 175px !important; */
  height: 150px;
  object-fit: cover;
}

.modal-content {
  width: calc(100% - 40px);
}

.view-container {
  padding: 0;
  /* width: 100px;
  height: 100px; */
  /* height: 100%; */
  /* width: 50vw; */
}

.specs-container {
  /* padding: 0 3rem; */

}

.file-details {
  box-sizing: border-box;
  /* padding-top: 1rem; */
  padding-bottom: 1rem;
  /* height: calc(100% - 50px); */
}

.is-ancestor {
  height: 100%;
}

.file-details {
  /* margin-top: 50px; */
  /* height: 100%; */
}

.display-img {
  object-fit: cover;
  height: 100%;
}

.float-l {
  float: right;
}

.specs-detail-view {
  width: 100%;
  height: calc(100% - 50px);
}

.specs-solicitude-view {
  width: 100%;
  height: 100%;
}

.maker-list {
  /* padding-top: 5rem; */
  padding-bottom: 0;
  margin-bottom: 0;
  /* height: calc(100% - 50px); */
}

.maker-show {
  height: 100%;
}
.header {
  padding: 1rem 0;
  padding-bottom: 0;
  margin: 0;
}

.list-container {
  padding: 1rem 1rem 1rem 0rem;
  position: sticky;
  height: calc(100vh - 150px);
  overflow-y: scroll;
}

*::-webkit-scrollbar {
  display: none;
}

.maker-card {
  padding: 2rem;
}

.maker-view {
  height: 100%;
  padding: 1rem;
}

.bottom-bar {
  width: 100%;
  /* position: absolute; */
  /* padding: 1rem;  */
  /* padding-right: 1.5rem; */
  bottom: 0;
}

.fs-12 {
  font-size: 1.2rem !important;
}
.fs-15 {
  font-size: 1.5rem !important;
}
.fs-2 {
  font-size: 2rem !important;
}

.am-in {

  width: 10ch;
}

.landing {
  padding: 1rem;
  /* background-color: #ff864f; */
  /* color: white !important; */
}

.landing .title {
  color: #ff864f;
}
.banner {
  padding: 4rem;
  margin: 1rem;
  background-color: #ff864f;
}

.banner .title {
  color: white !important;
}

