* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
  font-size: 15px;
}

.Catalogue {
  font-size: 1rem;
  /* padding: 2rem; */
}

.main-nav {
  background-color: cadetblue;
}

.file-display {
  margin: 1rem;
}

.file-display .card .card-image .image img {
  width: 175px !important;
}

.modal-content {
  width: calc(100% - 40px);
}

.view-container {
  background-color: red;
  height: 100%;
  width: 50vw;
}

.file-details {
  padding-top: 2rem;
}